@charset "UTF-8";

@font-face {
    font-family: "EasyReading";
    src: url(../webfonts/EasyReading.eot?#iefix) format("embedded-opentype"), url(../webfonts//EasyReading.woff) format("woff"), url(../webfonts//EasyReading.ttf) format("truetype"), url(../webfonts//EasyReading.svg#EasyReading) format("svg");
    font-style: normal;
    font-weight: 400
}

:root {
    --ath-blue: #00335b;
    --ath-cyan: #0dcaf0;
    --ath-gray: var(--ath-gray-500);
    --ath-green: #198754;
    --ath-indigo: #4B0082;
    --ath-orange: #FF5B00;
    --ath-pink: #fa8072;
    --ath-purple: purple;
    --ath-red: #dc3545;
    --ath-teal: #01889F;
    --ath-white: #f4f0ec;
    --ath-yellow: #ffc107;
    --ath-black: #181818;
    --ath-danger: var(--ath-red);
    --ath-dark: var(--ath-gray-900);
    --ath-gray-dark: var(--ath-gray-800);
    --ath-info: var(--ath-cyan);
    --ath-light: var(--ath-gray-100);
    --ath-primary: var(--ath-blue);
    --ath-secondary: var(--ath-gray-700);
    --ath-success: var(--ath-green);
    --ath-undo: var(--ath-orange);
    --ath-warning: var(--ath-yellow);
    --ath-gray-100: #E8E4E0;
    --ath-gray-200: #CFCCC9;
    --ath-gray-300: #B7B4B1;
    --ath-gray-400: #9F9C99;
    --ath-gray-500: #868482;
    --ath-gray-600: #7A7876;
    --ath-gray-700: #62605E;
    --ath-gray-800: #494847;
    --ath-gray-900: #31302F;
    --ath-font-easyreading: EasyReading;
    --ath-font-sans-serif: Arial, Helvetica, sans-serif;
    --ath-font-serif: "Times New Roman", Times, serif;
    --ath-font-monospace: "Courier New", Courier, monospace;
    --ath-body-font-family: var(--ath-font-easyreading);
    --ath-body-font-size: 1rem;
    --ath-body-font-weight: 400;
    --ath-body-line-height: 1.5;
    --ath-body-color: var(--ath-black);
    --ath-body-bg: var(--ath-white);
    --ath-border-width: 1px;
    --ath-border-style: solid;
    --ath-border-color: var(--ath-gray-100);
    --ath-border-color-translucent: rgba(24, 24, 24, .175);
    --ath-border-radius: .375rem;
    --ath-border-radius-sm: .25rem;
    --ath-border-radius-lg: .5rem;
    --ath-border-radius-xl: 1rem;
    --ath-border-radius-2xl: 2rem;
    --ath-border-radius-pill: 50rem;
    --ath-link-color: var(--ath-blue);
    --ath-link-hover-color: var(--ath-cyan);
    --ath-code-color: var(--ath-purple);
    --ath-highlight-bg: #fff3cd
}

*,
::before,
::after {
    box-sizing: border-box
}

@media (prefers-reduced-motion: no-preference) {
    :root {
        scroll-behavior: smooth
    }
}

* {
    font-family: var(--ath-body-font-family)
}

body {
    margin: 0;
    color: var(--ath-body-color);
    text-align: var(--ath-body-text-align);
    background-color: var(--ath-body-bg);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: var(--ath-black);
    font: var(--ath-body-font-weight) var(--ath-body-font-size)/var(--ath-body-line-height) var(--ath-body-font-family)
}

a {
    color: var(--ath-link-color);
    text-decoration: none
}

#wrapper {
    padding-left: 0;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease
}

#wrapper.toggled {
    padding-left: 250px
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: var(--ath-white);
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    box-shadow: inset -1px 0 0 0 var(--ath-gray-100)
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px
}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: var(--ath-gray)
}

.sidebar-nav li a:hover {
    text-decoration: none
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none
}

.sidebar-nav>.sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px
}

.sidebar-nav>.sidebar-brand a {
    color: var(--ath-gray)
}

.sidebar-nav>.sidebar-brand a:hover {
    color: var(--ath-white);
    background: none
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px
    }

    #wrapper.toggled {
        padding-left: 0
    }

    #sidebar-wrapper {
        width: 250px
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0
    }
}

#sidebar-wrapper li.active>a:after {
    border-right: 17px solid var(--ath-gray-100);
    border-top: 17px solid transparent;
    border-bottom: 17px solid transparent;
    content: "";
    display: inline-block;
    position: absolute;
    right: -1px
}

.sidebar-brand {
    border-bottom: 1px solid rgba(102, 97, 91, 0.3);
    padding: 18px 0;
    margin: 0 20px
}

@keyframes fadeIn {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

.dropdown-menu.show {
    -webkit-animation: fadeIn .3s alternate;
    animation: fadeIn .3s alternate
}

.nav-item.dropdown.dropdown-mega {
    position: static
}

.nav-item.dropdown.dropdown-mega .dropdown-menu {
    width: 90%;
    top: auto;
    left: 5%
}

.navbar-toggler {
    border: none;
    padding: 0;
    outline: none
}

.navbar-toggler:focus {
    box-shadow: none
}

.navbar-toggler .hamburger-toggle {
    position: relative;
    width: 50px;
    height: 50px;
    z-index: 11;
    float: right
}

.navbar-toggler .hamburger-toggle .hamburger {
    position: absolute;
    transform: translate(-50%, -50%) rotate(0deg);
    left: 50%;
    top: 50%;
    width: 50%;
    height: 50%;
    pointer-events: none
}

.navbar-toggler .hamburger-toggle .hamburger span {
    width: 100%;
    height: 4px;
    position: absolute;
    background: var(--ath-gray-800);
    border-radius: 2px;
    z-index: 1;
    transition: transform .2s cubic-bezier(0.77, 0.2, 0.05, 1), background .2s cubic-bezier(0.77, 0.2, 0.05, 1), all .2s ease-in-out;
    left: 0
}

.navbar-toggler .hamburger-toggle .hamburger span:first-child {
    top: 10%;
    transform-origin: 50% 50%;
    transform: translate(0% -50%) !important
}

.navbar-toggler .hamburger-toggle .hamburger span:nth-child(2) {
    top: 50%;
    transform: translate(0, -50%)
}

.navbar-toggler .hamburger-toggle .hamburger span:last-child {
    left: 0;
    top: auto;
    bottom: 10%;
    transform-origin: 50% 50%
}

.navbar-toggler .hamburger-toggle .hamburger.active span {
    position: absolute;
    margin: 0
}

.navbar-toggler .hamburger-toggle .hamburger.active span:first-child {
    top: 45%;
    transform: rotate(45deg)
}

.navbar-toggler .hamburger-toggle .hamburger.active span:nth-child(2) {
    left: 50%;
    width: 0
}

.navbar-toggler .hamburger-toggle .hamburger.active span:last-child {
    top: 45%;
    transform: rotate(-45deg)
}

.icons {
    display: inline-flex;
    margin-left: auto
}

.icons a {
    transition: all .2s ease-in-out;
    padding: .2rem .4rem;
    color: var(--ath-gray-200) !important;
    text-decoration: none
}

.icons a:hover {
    color: var(--ath-white);
    text-shadow: 0 0 30px var(--ath-white)
}

.product-ribbon {
    position: absolute;
    top: 1rem
}

.product-ribbon.product-ribbon-left {
    left: 1rem
}

.product-ribbon.product-ribbon-right {
    right: 1rem
}

.product-ribbon.no-space {
    top: 0
}

.product-ribbon.no-space.product-ribbon-left {
    left: 0
}

.product-ribbon.no-space.product-ribbon-right {
    right: 0
}

.product-ribbon.product-ribbon--style-1 {
    background-color: red;
    width: 2rem;
    height: 2rem;
    border-radius: 100%;
    text-align: center;
    line-height: 2rem;
    font-size: .75em;
    z-index: 10
}

.product-promo {
    position: absolute;
    top: 3.5rem
}

.product-promo.product-promo-left {
    left: 1rem
}

.product-promo.product-promo-right {
    right: 1rem
}

.product-promo.no-space {
    top: 0
}

.product-promo.no-space.product-promo-left {
    left: 0
}

.product-promo.no-space.product-promo-right {
    right: 0
}

.product-promo.product-promo--style-1 {
    background-color: #FFFF08;
    color: var(--ath-dark);
    width: 2rem;
    height: 2rem;
    border-radius: 100%;
    text-align: center;
    line-height: 2rem;
    font-size: .75em;
    z-index: 10
}

.product-image-list-list a {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}
.product-content {
    border: 1px solid var(--ath-gray-200);
    margin-bottom: 20px;
    margin-top: 12px;
    background: var(--ath-white)
}

.product-content .carousel-control.left {
    margin-left: 0
}

.product-content .product-image {
    background-color: var(--ath-white);
    display: block;
    min-height: 238px;
    overflow: hidden;
    position: relative
}

.product-content .product-deatil {
    border-bottom: 1px solid var(--ath-gray-200);
    padding-bottom: 17px;
    padding-left: 16px;
    padding-top: 16px;
    position: relative;
    background: var(--ath-white)
}

.product-content .product-deatil h5 a {
    color: var(--ath-gray-900);
    font-size: 15px;
    line-height: 19px;
    text-decoration: none;
    padding-left: 0;
    margin-left: 0
}

.product-content .product-deatil h5 a span {
    color: var(--ath-gray-400);
    display: block;
    font-size: 13px
}

.product-content .product-deatil span.tag1 {
    border-radius: 50%;
    color: var(--ath-white);
    font-size: 15px;
    height: 50px;
    padding: 13px 0;
    position: absolute;
    right: 10px;
    text-align: center;
    top: 10px;
    width: 50px
}

.product-content .product-deatil span.sale {
    background-color: var(--ath-info)
}

.product-content .product-deatil span.discount {
    background-color: var(--ath-success)
}

.product-content .product-deatil span.hot {
    background-color: var(--ath-red)
}

.product-content .description {
    font-size: 12.5px;
    line-height: 20px;
    padding: 10px 14px 16px 19px;
    background: var(--ath-white)
}

.product-content .product-info {
    padding: 11px 19px 10px 20px
}

.product-content .product-info a.add-to-cart {
    color: var(--ath-gray-900);
    font-size: 13px;
    padding-left: 16px
}

.product-content name.a {
    padding: 5px 10px;
    margin-left: 16px
}

.product-info.smart-form .btn {
    padding: 6px 12px;
    margin-left: 12px;
    margin-top: -10px
}

.product-entry .product-deatil {
    border-bottom: 1px solid var(--ath-gray-200);
    padding-bottom: 17px;
    padding-left: 16px;
    padding-top: 16px;
    position: relative
}

.product-entry .product-deatil h5 a {
    color: var(--ath-gray-900);
    font-size: 15px;
    line-height: 19px;
    text-decoration: none
}

.product-entry .product-deatil h5 a span {
    color: var(--ath-gray-400);
    display: block;
    font-size: 13px
}

.load-more-btn {
    background-color: var(--ath-cyan);
    border-bottom: 2px solid #037ca5;
    border-radius: 2px;
    border-top: 2px solid #0cf;
    margin-top: 20px;
    padding: 9px 0;
    width: 100%
}

.product-block .product-deatil p.price-container span,
.product-content .product-deatil p.price-container span,
.product-entry .product-deatil p.price-container span,
.shipping table tbody tr td p.price-container span,
.shopping-items table tbody tr td p.price-container span {
    color: var(--ath-cyan);
    font-size: 24px;
    line-height: 20px
}

.product-info.smart-form .rating label {
    margin-top: 0
}

.product-wrap .product-image span.tag2 {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    padding: 10px 0;
    color: var(--ath-white);
    font-size: 11px;
    text-align: center
}

.product-wrap .product-image span.sale {
    background-color: #57889c
}

.product-wrap .product-image span.hot {
    background-color: var(--ath-red)
}

.shop-btn {
    position: relative
}

.shop-btn>span {
    background: var(--ath-red);
    display: inline-block;
    font-size: 10px;
    box-shadow: inset 1px 1px 0 rgba(0, 0, 0, .1), inset 0 -1px 0 rgba(0, 0, 0, .07);
    font-weight: 700;
    border-radius: 50%;
    padding: 2px 4px 3px!important;
    text-align: center;
    line-height: normal;
    width: 19px;
    top: -7px;
    left: -7px
}

.description-tabs {
    padding: 30px 0 5px!important
}

.description-tabs .tab-content {
    padding: 10px 0
}

.product-deatil {
    padding: 30px 30px 50px
}

.product-deatil hr+.description-tabs {
    padding: 0 0 5px!important
}

.product-deatil .carousel-control.left,
.product-deatil .carousel-control.right {
    background: none!important
}

.product-deatil .glyphicon {
    color: #3276b1
}

.product-deatil .product-image {
    border-right: none!important
}

.product-deatil .name {
    margin-top: 0;
    margin-bottom: 0
}

.product-deatil .name small {
    display: block
}

.product-deatil .name a {
    margin-left: 0
}

.product-deatil .price-container {
    font-size: 24px;
    margin: 0;
    font-weight: 300
}

.product-deatil .price-container small {
    font-size: 12px
}

.product-deatil .fa-2x {
    font-size: 16px!important
}

.product-deatil .fa-2x>h5 {
    font-size: 12px;
    margin: 0
}

.product-deatil .fa-2x+a,
.product-deatil .fa-2x+a+a {
    font-size: 13px
}

.profile-message ul {
  list-style: none ;  
}

.product-deatil .certified {
    margin-top: 10px
}

.product-deatil .certified ul {
    padding-left: 0
}

.product-deatil .certified ul li:not(first-child) {
    margin-left: -3px
}

.product-deatil .certified ul li {
    display: inline-block;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 13px 19px
}

.product-deatil .certified ul li:first-child {
    border-right: none
}

.product-deatil .certified ul li a {
    text-align: left;
    font-size: 12px;
    color: var(--ath-gray-700);
    line-height: 16px;
    text-decoration: none
}

.product-deatil .certified ul li a span {
    display: block;
    color: var(--ath-cyan);
    font-size: 13px;
    font-weight: 700;
    text-align: center
}

.product-deatil .message-text {
    width: calc(100% - 70px)
}

@media only screen and (min-width:1024px) {
    .product-content div[class*=col-md-4] {
        padding-right: 0
    }
    .product-content div[class*=col-md-8] {
        padding: 0 13px 0 0
    }
    .product-wrap div[class*=col-md-5] {
        padding-right: 0
    }
    .product-wrap div[class*=col-md-7] {
        padding: 0 13px 0 0
    }
    .product-content .product-image {
        border-right: 1px solid var(--ath-gray-200)
    }
    .product-content .product-info {
        position: relative
    }
}

.message img.online {
    width:40px;
    height:40px;
}

.view-group {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 0
}

.thumbnail {
    margin-bottom: 30px;
    padding: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0
}

.item.list-group-item {
    float: none;
    width: 100%;
    background-color: var(--ath-white);
    margin-bottom: 30px;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0;
    border: 0
}

.dropdown-cart {
  overflow: hidden;
  overflow-y: auto;
  max-height: calc(100vh - 150px);
}

.item.list-group-item .img-event {
    float: left;
    width: 30%
}

.item.list-group-item .list-group-image {
    margin-right: 0
}

.item.list-group-item .thumbnail {
    margin-bottom: 0;
    display: inline-block
}

.item.list-group-item .caption {
    float: left;
    width: 70%;
    margin: 0
}

.item.list-group-item:before,
.item.list-group-item:after {
    display: table;
    content: " "
}

.item.list-group-item:after {
    clear: both
}

@media (max-width: 767px) {
    .btn-breadcrumb {
        margin-left: 10px;
        margin-right: 10px;
        width: calc(100% - 20px) !important
    }
}

.img-cart {
    display: block;
    max-width: 50px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.btn.circle {
    font-size: .75rem;
    text-align: center
}

.btn-circle.btn-sm {
    width: 1.875rem;
    height: 1.875rem;
    padding: .375rem 0;
    border-radius: 1rem
}

.btn-circle.btn-md {
    width: 3.125rem;
    height: 3.125rem;
    padding: .5rem .75rem;
    border-radius: 1.5rem
}

.btn-circle.btn-lg {
    width: 3.75rem;
    height: 3.75rem;
    padding: .625rem 1.25rem;
    border-radius: 1.75rem
}

.btn-circle.btn-xl {
    width: 4.375rem;
    height: 4.375rem;
    padding: .75rem 1rem;
    border-radius: 2rem
}

.btn-cart {
    background-color: var(--ath-cyan);
    border-color: var(--ath-teal);
    text-shadow: 1px 1px 0 var(--ath-light);
    color: var(--ath-dark)
}

.btn-cart:hover {
    background-color: var(--ath-teal);
    border-color: var(--ath-cyan);
    color: var(--ath-white)
}

.btn-fav {
    background-color: #FF0800;
    border-color: var(--ath-danger);
    text-shadow: 1px 1px 0 var(--ath-dark);
    color: var(--ath-light)
}
