@charset "UTF-8";
@import normalize.css;

@font-face {
    font-family: "EasyReading";
    src: url(../webfonts/EasyReading.eot?#iefix) format("embedded-opentype"), url(../webfonts//EasyReading.woff) format("woff"), url(../webfonts//EasyReading.ttf) format("truetype"), url(../webfonts//EasyReading.svg#EasyReading) format("svg");
    font-style: normal;
    font-weight: 400
}

:root {
    --ath-blue: #00335b;
    --ath-cyan: #0dcaf0;
    --ath-gray: var(--ath-gray-500);
    --ath-green: #198754;
    --ath-indigo: #4B0082;
    --ath-orange: #FF5B00;
    --ath-pink: #fa8072;
    --ath-purple: purple;
    --ath-red: #dc3545;
    --ath-teal: #01889F;
    --ath-white: #f4f0ec;
    --ath-yellow: #ffc107;
    --ath-black: #181818;
    --ath-danger: var(--ath-red);
    --ath-dark: var(--ath-gray-900);
    --ath-gray-dark: var(--ath-gray-800);
    --ath-info: var(--ath-cyan);
    --ath-light: var(--ath-gray-100);
    --ath-primary: var(--ath-blue);
    --ath-secondary: var(--ath-gray-700);
    --ath-success: var(--ath-green);
    --ath-undo: var(--ath-orange);
    --ath-warning: var(--ath-yellow);
    --ath-gray-100: #E8E4E0;
    --ath-gray-200: #CFCCC9;
    --ath-gray-300: #B7B4B1;
    --ath-gray-400: #9F9C99;
    --ath-gray-500: #868482;
    --ath-gray-600: #7A7876;
    --ath-gray-700: #62605E;
    --ath-gray-800: #494847;
    --ath-gray-900: #31302F;
    --ath-font-easyreading: EasyReading;
    --ath-font-sans-serif: Arial, Helvetica, sans-serif;
    --ath-font-serif: "Times New Roman", Times, serif;
    --ath-font-monospace: "Courier New", Courier, monospace;
    --ath-body-font-family: var(--ath-font-easyreading);
    --ath-body-font-size: 1rem;
    --ath-body-font-weight: 400;
    --ath-body-line-height: 1.5;
    --ath-body-color: var(--ath-black);
    --ath-body-bg: var(--ath-white);
    --ath-border-width: 1px;
    --ath-border-style: solid;
    --ath-border-color: var(--ath-gray-100);
    --ath-border-color-translucent: rgba(24, 24, 24, .175);
    --ath-border-radius: .375rem;
    --ath-border-radius-sm: .25rem;
    --ath-border-radius-lg: .5rem;
    --ath-border-radius-xl: 1rem;
    --ath-border-radius-2xl: 2rem;
    --ath-border-radius-pill: 50rem;
    --ath-link-color: var(--ath-blue);
    --ath-link-hover-color: var(--ath-cyan);
    --ath-code-color: var(--ath-purple);
    --ath-highlight-bg: #fff3cd
}

*,
::before,
::after {
    box-sizing: border-box
}

@media (prefers-reduced-motion: no-preference) {
    :root {
        scroll-behavior: smooth
    }
}

* {
    font-family: var(--ath-body-font-family)
}

body {
    margin: 0;
    color: var(--ath-body-color);
    text-align: var(--ath-body-text-align);
    background-color: var(--ath-body-bg);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: var(--ath-black);
    font: var(--ath-body-font-weight) var(--ath-body-font-size)/var(--ath-body-line-height) var(--ath-body-font-family)
}

a {
    color: var(--ath-link-color);
    text-decoration: none
}

#wrapper {
    padding-left: 0;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease
}

#wrapper.toggled {
    padding-left: 250px
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: var(--ath-white);
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    box-shadow: inset -1px 0 0 0 var(--ath-gray-100)
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px
}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: var(--ath-gray)
}

.sidebar-nav li a:hover {
    text-decoration: none
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none
}

.sidebar-nav>.sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px
}

.sidebar-nav>.sidebar-brand a {
    color: var(--ath-gray)
}

.sidebar-nav>.sidebar-brand a:hover {
    color: var(--ath-white);
    background: none
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px
    }

    #wrapper.toggled {
        padding-left: 0
    }

    #sidebar-wrapper {
        width: 250px
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0
    }
}

#sidebar-wrapper li.active>a:after {
    border-right: 17px solid var(--ath-gray-100);
    border-top: 17px solid transparent;
    border-bottom: 17px solid transparent;
    content: "";
    display: inline-block;
    position: absolute;
    right: -1px
}

.sidebar-brand {
    border-bottom: 1px solid rgba(102, 97, 91, 0.3);
    padding: 18px 0;
    margin: 0 20px
}

@keyframes fadeIn {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

.dropdown-menu.show {
    -webkit-animation: fadeIn .3s alternate;
    animation: fadeIn .3s alternate
}

.nav-item.dropdown.dropdown-mega {
    position: static
}

.nav-item.dropdown.dropdown-mega .dropdown-menu {
    width: 90%;
    top: auto;
    left: 5%
}

.navbar-toggler {
    border: none;
    padding: 0;
    outline: none
}

.navbar-toggler:focus {
    box-shadow: none
}

.navbar-toggler .hamburger-toggle {
    position: relative;
    width: 50px;
    height: 50px;
    z-index: 11;
    float: right
}

.navbar-toggler .hamburger-toggle .hamburger {
    position: absolute;
    transform: translate(-50%, -50%) rotate(0deg);
    left: 50%;
    top: 50%;
    width: 50%;
    height: 50%;
    pointer-events: none
}

.navbar-toggler .hamburger-toggle .hamburger span {
    width: 100%;
    height: 4px;
    position: absolute;
    background: var(--ath-gray-800);
    border-radius: 2px;
    z-index: 1;
    transition: transform .2s cubic-bezier(0.77, 0.2, 0.05, 1), background .2s cubic-bezier(0.77, 0.2, 0.05, 1), all .2s ease-in-out;
    left: 0
}

.navbar-toggler .hamburger-toggle .hamburger span:first-child {
    top: 10%;
    transform-origin: 50% 50%;
    transform: translate(0% -50%) !important
}

.navbar-toggler .hamburger-toggle .hamburger span:nth-child(2) {
    top: 50%;
    transform: translate(0, -50%)
}

.navbar-toggler .hamburger-toggle .hamburger span:last-child {
    left: 0;
    top: auto;
    bottom: 10%;
    transform-origin: 50% 50%
}

.navbar-toggler .hamburger-toggle .hamburger.active span {
    position: absolute;
    margin: 0
}

.navbar-toggler .hamburger-toggle .hamburger.active span:first-child {
    top: 45%;
    transform: rotate(45deg)
}

.navbar-toggler .hamburger-toggle .hamburger.active span:nth-child(2) {
    left: 50%;
    width: 0
}

.navbar-toggler .hamburger-toggle .hamburger.active span:last-child {
    top: 45%;
    transform: rotate(-45deg)
}

.icons {
    display: inline-flex;
    margin-left: auto
}

.icons a {
    transition: all .2s ease-in-out;
    padding: .2rem .4rem;
    color: var(--ath-gray-200) !important;
    text-decoration: none
}

.icons a:hover {
    color: var(--ath-white);
    text-shadow: 0 0 30px var(--ath-white)
}

.product-ribbon {
    position: absolute;
    top: 1rem
}

.product-ribbon.product-ribbon-left {
    left: 1rem
}

.product-ribbon.product-ribbon-right {
    right: 1rem
}

.product-ribbon.no-space {
    top: 0
}

.product-ribbon.no-space.product-ribbon-left {
    left: 0
}

.product-ribbon.no-space.product-ribbon-right {
    right: 0
}

.product-ribbon.product-ribbon--style-1 {
    background-color: red;
    width: 2rem;
    height: 2rem;
    border-radius: 100%;
    text-align: center;
    line-height: 2rem;
    font-size: .75em;
    z-index: 10
}

.product-promo {
    position: absolute;
    top: 3.5rem
}

.product-promo.product-promo-left {
    left: 1rem
}

.product-promo.product-promo-right {
    right: 1rem
}

.product-promo.no-space {
    top: 0
}

.product-promo.no-space.product-promo-left {
    left: 0
}

.product-promo.no-space.product-promo-right {
    right: 0
}

.product-promo.product-promo--style-1 {
    background-color: #FFFF08;
    color: var(--ath-dark);
    width: 2rem;
    height: 2rem;
    border-radius: 100%;
    text-align: center;
    line-height: 2rem;
    font-size: .75em;
    z-index: 10
}

.view-group {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 0
}

.thumbnail {
    margin-bottom: 30px;
    padding: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0
}

.item.list-group-item {
    float: none;
    width: 100%;
    background-color: var(--ath-white);
    margin-bottom: 30px;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0;
    border: 0
}

.item.list-group-item .img-event {
    float: left;
    width: 30%
}

.item.list-group-item .list-group-image {
    margin-right: 0
}

.item.list-group-item .thumbnail {
    margin-bottom: 0;
    display: inline-block
}

.item.list-group-item .caption {
    float: left;
    width: 70%;
    margin: 0
}

.item.list-group-item:before,
.item.list-group-item:after {
    display: table;
    content: " "
}

.item.list-group-item:after {
    clear: both
}

@media (max-width: 767px) {
    .btn-breadcrumb {
        margin-left: 10px;
        margin-right: 10px;
        width: calc(100% - 20px) !important
    }
}

.btn.circle {
    font-size: .75rem;
    text-align: center
}

.btn-circle.btn-sm {
    width: 1.875rem;
    height: 1.875rem;
    padding: .375rem 0;
    border-radius: 1rem
}

.btn-circle.btn-md {
    width: 3.125rem;
    height: 3.125rem;
    padding: .5rem .75rem;
    border-radius: 1.5rem
}

.btn-circle.btn-lg {
    width: 3.75rem;
    height: 3.75rem;
    padding: .625rem 1.25rem;
    border-radius: 1.75rem
}

.btn-circle.btn-xl {
    width: 4.375rem;
    height: 4.375rem;
    padding: .75rem 1rem;
    border-radius: 2rem
}

.btn-cart {
    background-color: var(--ath-cyan);
    border-color: var(--ath-teal);
    text-shadow: 1px 1px 0 var(--ath-light);
    color: var(--ath-dark)
}

.btn-cart:hover {
    background-color: var(--ath-teal);
    border-color: var(--ath-cyan);
    color: var(--ath-white)
}

.btn-fav {
    background-color: #FF0800;
    border-color: var(--ath-danger);
    text-shadow: 1px 1px 0 var(--ath-dark);
    color: var(--ath-light)
}
